/*********************************************************************************/
/* HTML et BODY */
html, body {
    height: 100%;
    background-color: #f4f4f4;
}
  
body{
    display: flex;
    flex-direction: column;
}
  

/*********************************************************************************/
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /* Pas le droit de se réduire*/
  
    padding: 0% 1% 0% 1%;
    height: 75px;
    box-shadow: 0px 5px 10px rgba(0, 173, 226, 0.308);
}

/* LOGO */
header #logo {
    max-width: 200px;
}

/* SEARCH */
#search {
    font-size: 2em;
    position: absolute;
    /***********************************************************************************/
    /* ????? */ 
    /* Supprimer le texte quand la bulle se referme */
    /***********************************************************************************/
    margin-left: -37px;
    margin-top: 5px;
}
  
#search:hover {
    color: var(--text-color-light);
}
  
#search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px; 
    height: 40px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    background-color: var(--text-color-light);
}
  
#search-box:hover {
    background: var(--blue-color);
}
  
#search-box:focus {
    background-color: var(--pink-color);
    transition: width 0.6s cubic-bezier(0,1.22,.66,1.39), border-radius 0.6s, background 0.6s;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: var(--border-radius);
    color: var(--text-color-light);   
}
  
#search-submit {
    position: relative;
    left: -5000px;
}

@media (max-width: 768px) {
    #name {
        display: none;
    }
}


/*********************************************************************************/
/* MAIN */
main {
    /* Prendre tout l'espace restant */
    flex-grow: 1;
    padding: 5% 1%;
    overflow-y: auto; /* scroll au sein du main et non sur toute la page */
}

main section {
    /* chaque section est un container flex en column */
    flex-direction: column;
  
    display: none;
    margin: auto;
    max-width: 1200px;
}

main section.active { /* affiche la section avec la classe "active" */
    display: flex;
}

/*********************************************************************************/
/*********************************************************************************/
/* VERIFIER */
/*********************************************************************************/
/*********************************************************************************/
#player-section {
    height: 100%;
    padding: 0;
    /* le player prend tout l'espace et centre son contenu. Les autres sections partent du haut */
    justify-content: center;
    align-items: center;
}


/*********************************************************************************/
/* FOOTER */
footer {
    flex-shrink: 0; /* pas le droit de se réduire */
    height: 100px;
    box-shadow: 0px -5px 10px rgba(0, 173, 226, 0.308);
}
  
footer nav {
    height: 100%;
    display: flex;
}
  
footer nav a {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    text-decoration: none;
}
  
footer nav a * {
    transition: color var(--default-transition);
}
  
footer nav a.active *, footer nav a:hover * {
    color: var(--blue-color);
}

footer nav a .material-icons {
    font-size: 2.5rem;
}
  
@media (max-width: 768px) {
    footer {
        height: 80px;
    }
  
    footer nav a span:last-of-type {
        display: none;
    }
}